@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: #575757;
    color: white;
}

@font-face {
  font-family: "Quicksand";
  src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}

summary::-webkit-details-marker { display: none }